.container{
  position: relative;
	height: 500px;
	width: 500px;
	display: flex;
}

.container .drop{
  width: 350px;
  height: 350px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, .05),
              25px 35px 20px rgba(0, 0, 0, .05),
              25px 30px 30px rgba(0, 0, 0, .05),
	inset -20px -20px 25px rgba(255, 255, 255, 0.9);
	animation: drop 8s linear infinite;
	display: flex;
	align-items: center;
	justify-content: center;
 	border-radius: 52% 48% 33% 67% / 38% 45% 55% 62%;
}

@keyframes drop {
	20% {
		border-radius: 66% 34% 56% 44% / 36% 59% 41% 64%;
	}
	40% {
		border-radius: 67% 33% 68% 32% / 35% 43% 57% 65% ;
	}
	60% {
		border-radius: 50% 50% 39% 61% / 52% 43% 57% 48% ;
	}
	80% {
		border-radius: 36% 64% 32% 68% / 53% 33% 67% 47%;
	}
	100% {
		border-radius: 52% 48% 33% 67% / 38% 45% 55% 62%;
	}
}

.container .drop::before{
  content: '';
  position: absolute;
  top:50px;
  left: 85px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, .05),
              15px 15px 10px rgba(0, 0, 0, .05),
              15px 20px 10px rgba(0, 0, 0, .05),
	inset 0px 0px 15px rgb(255, 255, 255);
}

.container .drop::after{
  content: '';
  position: absolute;
  top:90px;
  left: 110px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, .05),
              15px 15px 10px rgba(0, 0, 0, .05),
              15px 20px 10px rgba(0, 0, 0, .05),
	inset 0px 0px 5px rgb(255, 255, 255);
}

.container .drop .content{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 15px;

	h2{
		color: #333;
		font-size: 18px;
		font-weight: bold;
	}

	.inputBox{
		padding: 0 15px;
		position: relative;
		box-shadow: inset 2px 5px 10px rgba(0, 0, 0, .1),
								inset -2px -5px 10px rgba(255, 255, 255, 1),
								15px 15px 10px rgba(0, 0, 0, .05),
								15px 10px 15px rgba(0, 0, 0, .05);
		border-radius: 25px;
	}

	.btn-box {
		width: 100%;
		display: flex;
		justify-content: center;

		.btn {
			display: flex;
			justify-content: center;
			border-radius: 25px;
			width: 50%;
			box-shadow: inset 2px 5px 10px rgba(0, 0, 0, .1),
									15px 15px 10px rgba(0, 0, 0, .05),
									15px 10px 15px rgba(0, 0, 0, .05);
			transition: 0.5s;
		}

		.btn:hover{
			width: 80%;
		}
	}
}

.btns{
  position: absolute;
  width: 120px;
  height: 120px;
  bottom: 50px;
	right: 80px;
  background-color:#c61dff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-size: 15px;
  transition: 0.25s;
  text-align: center;
  box-shadow: inset 10px 10px 10px rgba(190, 1, 254, .05),
										15px 5px 10px rgba(190, 1, 254, .1),
										15px 20px 20px rgba(190, 1, 254, .1),
  								  inset -10px -10px 15px rgba(255, 255, 255, 0.5);
  border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;
}

.btns:hover{
  border-radius: 50%;
}

.btns::before{
  content: '';
  position: absolute;
  top:15px;
  left: 30px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.45;
}

.btns.signup{
  bottom: 200px;
	right: 60px;
  width: 80px;
  height: 80px;
  border-radius: 49% 51% 52% 48% / 63% 59% 41% 37%;
  background-color: #01b4ff;
  box-shadow: inset 10px 10px 10px rgba(1, 180, 255, .05),
  15px 5px 10px rgba(1, 180, 255, .1),
  15px 20px 20px rgba(1, 180, 255, .1),
  inset -10px -10px 15px rgba(255, 255, 255, 0.5);
}

.btns.signup::before{
  left: 20%;
  width: 12px;
  height: 12px;

}

.btns:hover{
  border-radius: 50%;
}